@model DndAssistant.Models.Items.Weapon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage.DiceCount)
            @Html.DisplayFor(model => model.Damage.DiceType)
            @Html.DisplayFor(model => model.Damage.DamageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMartial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMartial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRanged)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
