@model IEnumerable<DndAssistant.Models.Items.Weapon>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.DistanceFullDamage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponClass)
            </th> *@
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.DamageDiceCount)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @*  <td>
                @Html.DisplayFor(modelItem => item.DistanceFullDamage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponClass)
            </td> *@
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           @*  <td>
                    @Html.DisplayFor(modelItem => item.WeaponProperties)
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight) фнт
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
                @Html.DisplayFor(modelItem => item.MoneyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DamageDiceCount)
                    @Html.DisplayFor(modelItem => item.DamageDice)
                    @Html.DisplayFor(modelItem => item.DamageType)
            </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
